.SubscriptionPage {
  width: 100vw;
  height: 100vh;
  text-align: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #ffffff;
}

.card-block {
  padding-top: 8vw;
  position: relative;
  z-index: 0;
}

.plane-background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.title{
  font-family: Roboto;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 2vw;
  z-index: 2;

}

.show-comparison{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--primary);
    padding-bottom: 15px;
    text-decoration: underline;
}
