.input-container {
  display: inline-block;
  width: 60%;
  margin-bottom: 20px;
}

.label-grid {
  font-size: 15px;
  text-align: left;
  font-family: Roboto;
  padding-right: 40px;
}
.input-grid {
  text-align: left;
}

.dropdown {
  width: 180%;
  height: 40px;
}
.label2 {
  text-align: left;
  padding-left: 85px;
  color: #484848;
  position: absolute;
  bottom: 35%;
  font-family: Roboto;
}
.label2-error {
    text-align: left;
    padding-left: 85px;
    color: var(--error-color);
    position: absolute;
    bottom: 35%;
    font-family: Roboto;
  }
.error-message {
  position: relative;
  top: 10px;
  width: 247px;
  height: 18px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--error-color);
}

.number {
  width: 80px;
  height: 40px;
}
