.Rectangle-Copy {
  /* width: 350px; */
  height: 332px;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 #d4dce2;
  background-color: #ffffff;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  text-align: center;
}

.Welcome-at-Qover {
  width: 147px;
  height: 28px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #5b7289;
  margin-top: 30px;
  display: inline-block;
}

.Password-Remember{
  width: 310px;
  display: inline-block;
  margin-top: 20px;

}
.Remember-me {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  float: left;
  letter-spacing: normal;
  color: #5b7289;
}
.Forgot-your-password {
  width: 124px;
  height: 14px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  float: right;
  color: var(--secondary);
  cursor: pointer;
}



.Checked-box{
  float: left;
  margin-right: 7px;
}


  