.Rectangle-Copy-2 {
    width: 350px;
    height: 45px;
    border-radius: 3px;
    background: transparent;
    border: solid 1px #ffffff;
    display: inline-block;
    margin-top: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }