.Mask {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(122deg, var(--secondary), #33c3c8);

  }
  .White {
    width: 86.1px;
    height: 100px;
    object-fit: contain;
    margin-top: 60px;
  }
  .container{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
	  top:0;
	  bottom: 0;
	  left: 0;
	  right: 0;
    margin: auto;
  }

  .error-login{
    color: var(--error-color);
  }
  