.Signin-Btn, .Disabled-Signin {
    width: 310px;
    height: 45px;
    border-radius: 3px;
    background-color: var(--secondary);
    margin-top: 35px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .Disabled-Signin{
    opacity: 0.3;
  }
  