.Form-Container {
  width: 80%;
  height: 370px;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.5);
  background-color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: auto;
}
