.Q-Submit-Btn,
.Disabled-Q-Submit {
  width: 163px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px var(--primary);
  background-color: var(--primary);
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
}

.Disabled-Q-Submit {
  opacity: 0.3;
}
