.label,
.active-label {
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 1.08px;
  text-align: right;
  color: #ffffff;
}

.active-label {
  font-weight: bold;
  color: #ffffff;
  font-family: Roboto;
}

.TogglePlanBtn{
    position: relative;
    top: 5vw;
    z-index: 1;
}