.Rectangle-2 {
    width: 100vw;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.12);
    position: absolute;
    top:0px;
    z-index:1;
  }

  .qoverme {
    font-family: Roboto;
    font-size: 9px;
    width: 51px;
    height: 10px;
    padding-top:10px;
    padding-left: 98px;
    font-weight: 500;
    opacity: 1;
    color: #ffffff;
  }

  .logout {
    font-family: Roboto;
    font-size: 15px;
    padding:20px;
    font-weight: 500;
    border-radius: 5px;
    opacity: 1;
    color: #ffffff;
    float: right;
    background: var(--primary);
    text-align: center;
    cursor: pointer;
  }