.SubscriptionCard-Global, .SubscriptionCard-Universe {
  width: 323px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.5);
  text-align: center;
}
.SubscriptionCard-Global {
  background-color: var(--primary);
}
.SubscriptionCard-Universe {
  background-color: #ffffff;
}
.imgValid{
  margin-right: 5px;
}
._title-global, ._title-universe {
  width: 100%;
  height: 59px;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 59px;
  box-shadow: 0 0.2px 0px 0 rgba(72, 72, 72, 0.5);
}

._title-global{
  color: #ffffff;
}

._title-universe{
  color: #000000;
}

._price-container-global, ._price-container-universe {
  font-family: Roboto;
  width: 100%;
  height: 95px;
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  box-shadow: 0 0.2px 0px 0 rgba(72, 72, 72, 0.5);
}

._price-container-global{
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
}

._price-container-universe{
  color: var(--primary);
  background-color: rgba(49, 207, 218, 0.05);
}

sup {
  font-size: 20px;
  font-weight: normal;
}
._price {
  padding-top: 15px;
}

._price-description-global, ._price-description-universe {
  padding-top: 2px;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
}

._price-description-global{
  color: #ffffff;
}

._price-description-universe{
  color: var(--primary);
}


._detail-global, ._detail-universe {
  width: 323px;
  /* height: 45px; */
  /* vertical-align: middle;
  line-height: 45px; */
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 0.2px 0px 0 rgba(72, 72, 72, 0.5);
}

._detail-global {
  color: #ffffff;  
}
._detail-universe {
  color: #000000;  
}



.text-style-1 {
  font-weight: normal;
  display: inline
}


._button-global, ._button-universe {
  width: 303px;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

._button-global{
  background-color: #ffffff;
  border: solid 1px #ffffff;
  color: var(--primary);
}

._button-universe{
  color: #ffffff;
  background-color: var(--primary);
  border: solid 1px var(--primary);


}