.Footer {
  width: 100%;
  height: 48px;
  vertical-align: middle;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 48px;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
  border: solid 1px rgba(255, 255, 255, 0.2);
}
