.Mask2{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(122deg, var(--secondary), #33c3c8);
}

.container2{
    width: 100%;
    height: 100%;
    text-align: center;

}